In [281]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
import matplotlib.pyplot as plt

In [242]:
df = pd.read_excel ('content.xlsx')
df

,ID,Title,Price,Company,Rating,Specifications,Links,Review ID,Reviews,Scores
0,63,Nokia 105 Nokia 106 Dual Sim Box Pack Non Warr...,2999,Nokia,4.4,Nokia 105 Nokia 106 Dual Sim Box Pack Non Warr...,https://www.daraz.pk/products/105-106-i4352194...,"['Tanweer A.', '3***8', 'Aman K.', 'Mian A.', ...",['ALHAMDULILLAH ACHA MOBILE NIKLA.... JAZAK AL...,"[5, 5, 4, 3, 5, 5, 5]"
1,56,Oppo A37 ‚Äì Dual Sim Approved ‚Äì 2Gb Ram Mobile ...,9996,Oppo,5.0,Dimensions: 143.1 x 71 x 7.7 mm (5.63 x 2.80 x...,https://www.daraz.pk/products/oppo-a37-dual-si...,['Aqib A.'],['Very good and nice mobile'],[5]
2,66,Imported NEW Vivo Y55 Mini - 2GB Ram Mobile - ...,9996,Imported,0.0,NETWORKTechnologyGSM / HSPA / LTELAUNCHAnnounc...,https://www.daraz.pk/products/imported-new-viv...,[],[],[]
3,95,"SPARX S3 2GB RAM 16GB ROM || 5.5"" DISPLAY || 2...",12699,SPARX,4.0,Smartphone brand Sparx has launched S3 smartph...,https://www.daraz.pk/products/sparx-s3-2gb-ram...,"['Iram A.', 'Umair K.', 'Waqas R.', 'Iram A.',...","[""price was reasonable but the quality of the ...","[3, 5, 3, 3, 5, 3, 3, 5, 3, 3, 5, 3, 3, 5, 3]"
4,49,Imported Oppo A57 with Box Charger - Dual Sim ...,12993,Imported,5.0,Imported Oppo A57 with Box Charger,https://www.daraz.pk/products/imported-oppo-a5...,[],[],[]
...,...,...,...,...,...,...,...,...,...,...
195,96,"Xiaomi 13T Pro - 6.67"" Inch AMOLED Display - 1...",238499,Xiaomi,4.0,1 Year Brand Warranty,https://www.daraz.pk/products/xiaomi-13t-pro-6...,[],[],[]
196,195,"Apple iPhone 14 Pro Max - 6.7"" Inch Display - ...",257990,Apple,0.0,1 Year International Warranty,https://www.daraz.pk/products/apple-iphone-14-...,[],[],[]
197,184,Apple 14 pro max 128gb box pack jv non active ...,265000,Apple,0.0,pre { white-space: pre-wrap; }‚Ä¢ 2160p video re...,https://www.daraz.pk/products/14-1-1-gb-jv-i43...,[],[],[]
198,176,"Apple iPhone 15 Pro Max - 6.7"" Inch Display",346990,Apple,0.0,1 Year International Warranty,https://www.daraz.pk/products/apple-iphone-15-...,[],[],[]
199,190,"Apple iPhone 15 Pro Max - 6.7"" Inch Display - ...",594999,Apple,0.0,1 Year Official Warranty (Mercantile),https://www.daraz.pk/products/apple-iphone-15-...,[],[],[]

In [244]:
df['Company'] = df['Company'].str.lower()

In [245]:
companies = []

for i in df ['Company']:
    i = i.lower ()
    if i not in companies:
        companies.append (i)

In [246]:
def company (q):
    for i in q:
        if i.lower () in companies:
            return i,True
    return None,False

In [263]:
def no_of_num (q):
    temp = []
    temp2 = []
    for i in q:
        try:
            if (i.isdigit()):
                temp.append(int(i))
            else:
                temp2.append(float(i))
        except ValueError:
            pass
    return temp,temp2

In [256]:
def rating (q):
    if 'rating' in q or 'rated' in q or 'ratings' in q:
        return True

In [276]:
def high (q):
    if 'higher' in q or 'high' in q or 'above' in q or 'more' in q or 'greater' in q or 'over' in q:
        return True

In [277]:
def low (q):
    if 'lower' in q or 'low' in q or 'below' in q or 'less' in q or 'lesser' in q or 'under' in q:
        return True

In [278]:
def main (q):
    brand,flag = company (q)
    if flag == True:
        if rating (q):
            one, two = no_of_num (q)
            if (len (one) == 0 and len (two) == 1):
                if high (q):
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] > two [0])]
                    return q
                elif low (q):
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] < two [0])]
                    return q
                else:
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] == two [0])]
                    return q
            elif (len (one) == 0 and len (two) == 2):
                q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] > two [0]) & (df ['Rating'] < two [1])]
                return q
            elif (len (one) == 1 and len (two) == 1):
                if high (q):
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] > two [0]) & (df ['Price'] > one [0])]
                    return q
                elif low (q):
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] < two [0]) & (df ['Price'] < one [0])]
                    return q
                else:
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] == two [0]) & (df ['Price'] == one [0])]
                    return q
            elif (len (one) == 2 and len (two) == 1):
                if high (q):
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] > two [0]) & (df ['Price'] > one [0]) & (df ['Price'] < one [1])]
                    return q
                elif low (q):
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] < two [0]) & (df ['Price'] > one [0]) & (df ['Price'] < one [1])]
                    return q
                else:
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] == two [0]) & (df ['Price']  > one [0]) & (df ['Price'] < one [1])]
                    return q
            elif (len (one) == 2 and len (two) == 2):
                q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Rating'] > two [0]) & (df ['Rating'] < two [1]) & (df ['Price']  > one [0]) & (df ['Price'] < one [1])]
                return q
            else:
                q = df [df ['Company'].str.contains (brand, case=False)]
                return q
        else:
            one, two = no_of_num (q)
            if (len (one) == 1):
                if high (q):
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Price'] > one [0])]
                    return q
                elif low (q):
                    print (".")
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Price'] < one [0])]
                    return q
                else:
                    q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Price'] == one [0])]
                    return q
            elif (len (one) == 2):
                q = df [(df ['Company'].str.contains (brand, case=False)) & (df ['Price']  > one [0]) & (df ['Price'] < one [1])]
                return q
            else:
                q = df [df ['Company'].str.contains (brand, case=False)]
                return q
        
    elif flag == False:
        if rating (q):
            one, two = no_of_num (q)
            print (one)
            print (two)
            if (len (one) == 0 and len (two) == 1):
                if high (q):
                    q = df [df ['Rating'] > two [0]]
                    return q
                elif low (q):
                    q = df [df ['Rating'] < two [0]]
                    return q
                else:
                    q = df [df ['Rating'] == two [0]]
                    return q
            elif (len (one) == 0 and len (two) == 2):
                print (".")
                q = df [(df ['Rating'] > two [0]) & (df ['Rating'] < two [1])]
                return q
            elif (len (one) == 1 and len (two) == 1):
                if high (q):
                    q = df [(df ['Rating'] > two [0]) & (df ['Price'] > one [0])]
                    return q
                elif low (q):
                    q = df [(df ['Rating'] < two [0]) & (df ['Price'] < one [0])]
                    return q
                else:
                    q = df [(df ['Rating'] == two [0]) & (df ['Price'] == one [0])]
                    return q
            elif (len (one) == 2 and len (two) == 1):
                if high (q):
                    q = df [(df ['Rating'] > two [0]) & (df ['Price'] > one [0]) & (df ['Price'] < one [1])]
                    return q
                elif low (q):
                    q = df [(df ['Rating'] < two [0]) & (df ['Price'] > one [0]) & (df ['Price'] < one [1])]
                    return q
                else:
                    q = df [(df ['Rating'] == two [0]) & (df ['Price']  > one [0]) & (df ['Price'] < one [1])]
                    return q
            elif (len (one) == 2 and len (two) == 2):
                q = df [(df ['Rating'] > two [0]) & (df ['Rating'] < two [1]) & (df ['Price']  > one [0]) & (df ['Price'] < one [1])]
                return q
            else:
                q = "My Knowledge is limited, therefore i can't entertain this query. If you have any more questions or if there's anything else I can assist you with, feel free to ask."
                return q
        else:
            one, two = no_of_num (q)
            if (len (one) == 1):
                if high (q):
                    q = df [df ['Price'] > one [0]]
                    return q
                elif low (q):
                    q = df [df ['Price'] < one [0]]
                    return q
                else:
                    q = df [df ['Price'] == one [0]]
                    return q
            elif (len (one) == 2):
                q = df [(df ['Price']  > one [0]) & (df ['Price'] < one [1])]
                return q
            else:
                q = "My Knowledge is limited, therefore i can't entertain this query. If you have any more questions or if there's anything else I can assist you with, feel free to ask."
                return q

In [280]:

query = input ("How may I help you: ")
tokens = word_tokenize (query)

result = main (tokens)
result

How may I help you:  phone under 75000

,ID,Title,Price,Company,Rating,Specifications,Links,Review ID,Reviews,Scores
0,63,Nokia 105 Nokia 106 Dual Sim Box Pack Non Warr...,2999,nokia,4.4,Nokia 105 Nokia 106 Dual Sim Box Pack Non Warr...,https://www.daraz.pk/products/105-106-i4352194...,"['Tanweer A.', '3***8', 'Aman K.', 'Mian A.', ...",['ALHAMDULILLAH ACHA MOBILE NIKLA.... JAZAK AL...,"[5, 5, 4, 3, 5, 5, 5]"
1,56,Oppo A37 ‚Äì Dual Sim Approved ‚Äì 2Gb Ram Mobile ...,9996,oppo,5.0,Dimensions: 143.1 x 71 x 7.7 mm (5.63 x 2.80 x...,https://www.daraz.pk/products/oppo-a37-dual-si...,['Aqib A.'],['Very good and nice mobile'],[5]
2,66,Imported NEW Vivo Y55 Mini - 2GB Ram Mobile - ...,9996,imported,0.0,NETWORKTechnologyGSM / HSPA / LTELAUNCHAnnounc...,https://www.daraz.pk/products/imported-new-viv...,[],[],[]
3,95,"SPARX S3 2GB RAM 16GB ROM || 5.5"" DISPLAY || 2...",12699,sparx,4.0,Smartphone brand Sparx has launched S3 smartph...,https://www.daraz.pk/products/sparx-s3-2gb-ram...,"['Iram A.', 'Umair K.', 'Waqas R.', 'Iram A.',...","[""price was reasonable but the quality of the ...","[3, 5, 3, 3, 5, 3, 3, 5, 3, 3, 5, 3, 3, 5, 3]"
4,49,Imported Oppo A57 with Box Charger - Dual Sim ...,12993,imported,5.0,Imported Oppo A57 with Box Charger,https://www.daraz.pk/products/imported-oppo-a5...,[],[],[]
...,...,...,...,...,...,...,...,...,...,...
166,187,Infinix Zero 30 4G RAM 8 GB ROM 256 GB Front C...,69999,infinix,5.0,BuildOSAndroid 13 OS UIXOS 13 Dimensions164.5 ...,https://www.daraz.pk/products/30-4g-8-gb-256-g...,"['Farhan K.', 'Farhan K.', 'Farhan K.', 'Farha...","['Original product, fast delivery, seller is v...","[5, 5, 5, 5, 5]"
167,117,"Infinix Note 30 Pro , 8GB RAM 256GB ROM , 108M...",69999,infinix,5.0,ProcessorCPUOcta-core (2 x 2.2 GHz Cortex-A76 ...,https://www.daraz.pk/products/30-8gb-256gb-108...,"['M. U.', 'irfan', 'M. U.', 'irfan', 'M. U.', ...",['Quality is Good üëç I like the product Receive...,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]"
168,121,vivo Y36 - 8GB RAM - 256GB ROM - 50 + 2 MP Rea...,69999,vivo,5.0,BasicProcessorSnapdragon 680,https://www.daraz.pk/products/vivo-y36-8gb-ram...,['Hurara M.'],['good same as shown in pictures'],[5]
169,15,Samsung Galaxy A24 8GB+128GB,72999,samsung,4.6,Samsung Galaxy A24 - RAM 8 GB - ROM 128 GB - A...,https://www.daraz.pk/products/samsung-galaxy-a...,"['Muhammad K.', 'Umar', 'khan K.', 'Amdad S.',...",['It was an absolutely amazing experience. ord...,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5]"
170,107,"Redmi Note 12s - 6.43"" Inch Display - 8GB RAM ...",73450,redmi,1.0,1 Year Brand Warranty,https://www.daraz.pk/products/redmi-note-12s-6...,"['Khawar S.', 'Khawar S.', 'Khawar S.', 'Khawa...","[""repacked and used phone sold by this seller€î...","[1, 1, 1, 1, 1]"